.activeLink{
    --tw-border-opacity:1;
}

.activeLink>a{
    background-color: rgb(228 228 231);
}

.sidebar::-webkit-scrollbar{
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 20px;
}
.mainContainer::-webkit-scrollbar{
    width: 5px;
}

.mainContainer::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 20px;
}